.hidden {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    ;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0%;
}

ul,
ol {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

a {
    text-decoration: none;
    color: #434455;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 760px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    display: flex;
}

.menu-iteams,
.adress-contact {
    display: none;
}

.nav-logo {
    display: block;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
}

span.studio-nav {
    color: #2e2f42;
}

.nav-logo:hover,
.nav-logo:focus {
    color: #404BBF;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-burger {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 760px) {
    .burger-btn {
        display: none;
    }

    .menu-iteams {
        display: flex;
        align-items: center;
        gap: 40px;
        position: relative;
    }

    .adress-contact {
        display: block;
        font-style: normal;
        margin-left: auto;
    }

    .list-contact {
        display: flex;
        gap: 12px; 
        flex-direction: column;
    }

    .contact {
        display: block;
        letter-spacing: 0.04em;
        color: #434455;
        font-size: 12px;
        line-height: 1.17;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact:hover,
    .contact:focus {
        color: #404BBF;
    }

    .nav-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page-header .menu-iteams {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu-iteams {
        display: flex;
        align-items: center;
        gap: 40px;
        position: relative;
    }
    
    .menu-iteams .link {
        display: block;
        font-weight: 500;
        color: #2E2F42;
        letter-spacing: 0.02em;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-iteams .current {
        color: #404bbf;
    }
    
    .current::after {
        position: absolute;
        content: '';
        border-radius: 2px;
        width: 48px;
        height: 4px;
        bottom: -1px;
        left: 0;
        background-color: #404bbf;
    }
    
    .menu-iteams .link:hover,
    .menu-iteams .link:focus {
        color: #404BBF;
    }
} 

@media screen and (min-width: 1158px) {
    .nav-logo {
        margin-right: 76px;
    }

    .list-contact {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contact {
        letter-spacing: 0.02em;
        font-size: 16px;
        line-height: 1.5;
        padding: 24px 0;
    }
}

/*mobile menu*/

.mobile-menu {
    background-color: #FCFCFC;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    opacity: 0;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    background-color: #FCFCFC;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-svg {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    border: none;
    background-color: #404BBF;
}

.mobile-menu-close:hover .mobile-close-svg,
.mobile-menu-close:focus .mobile-close-svg {
    fill: #ffffff;
}

.mobile-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 25px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-iteams .current {
    color: #404bbf;
}

.mobile-adress-contact {
    display: block;
    font-style: normal;
    margin-left: auto;
}

.mobile-list-contact {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.mobile-contact {
    display: block;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 20px;
    line-height: 120%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact:hover,
.mobile-contact:focus {
    color: #404BBF;
}

.mobile-menu-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}

.mobile-menu-icon-svg {
    fill: #f4f4fd;
}

.mobile-menu-icon-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-link {
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* hero */

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    padding: 72px 0;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
    }
}

.hero-heading {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    width: 216px;
    margin-bottom: 72px;
    text-align: center;
    max-width: 216px;
}

@media screen and (min-width: 768px) {
    .hero-heading {
        font-size: 56px;
        line-height: 107%;
        width: 496px;
        margin-bottom: 36px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-heading {
        margin-bottom: 48px;
    }
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero > button:hover,
.hero > button:focus {
    background-color: #404bbf;
}

/* benefits */

.benefits .container {
    display: flex;
}

.benefits {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .benefits {
        padding: 120px 0;
    }
}

.list-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.benefits-icon-div {
    display: none;
}

@media screen and (min-width: 768px) {
    .list-benefits {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .benefits-items {
        width: calc((100% - 72px) / 2);
    }
}

@media screen and (min-width: 1158px) {
   .list-benefits {
        gap: 24px;
    }

    .benefits-items {
        width: calc((100% - 72px) / 4);
    }

   .benefits-icon-div {
        display: flex;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        background-color: #F4F4FD;
        padding: 24px 100px;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
        height: 112px;
    }
}

.benefits-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.benefits-text {
    font-weight: 500px;
    font-size: 16px;
    list-style: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-title {
        font-weight: 500;
        font-size: 20px;
    }

    .benefits-text {
        font-weight: 400px;
    }
}


/* team */

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4FD;
    text-align: center;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px;
    }
}

.team-heading {
    font-weight: 700px;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-items {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .team-items {
        flex-direction: row;
        gap: 64px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .team-list {
        width: calc((100% - 64px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-items {
        gap: 24px;
    }

    .team-list {
        width: calc((100% - 72px) / 4);
    }
}

.team-div {
    padding: 32px 16px;
}

@media screen and (min-width: 1158px) {
.team-div {
        padding: 32px 0;
    }
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.team-parag {
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.team-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-icon-svg {
    fill: #f4f4fd;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-link {
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
}


/* portfolio */
