*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;;
    line-height: 24px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0%;
}

ul, ol {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #434455;
}

button {
    cursor: pointer;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.page-header .container {
    height: 72px;
    background-color: #FFFFFF;
    display: flex;
} 

.page-header .menu-iteams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}

span.studio-nav {
    color: #2e2f42;
}

.nav-logo:hover,
.nav-logo:focus {
    color: #404BBF;
}

.menu-iteams {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-iteams .link {
    display: block;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.link:hover,
.link:focus {
    color: #404BBF;
}

.adress-contact {
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: auto;
} 

.list-contact {
    display: flex;
    gap: 40px;
    margin-left: 332px;
}

.contact {
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.hero .container {
    display: flex;
    background-color: #2E2F42;
    height: 600px;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    padding: 188px 0;
}

.hero-heading {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px; 
    margin-bottom: 48px;
    text-align: center;
    max-width: 496px;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
}

.hero > button:hover,
.hero > button:focus {
    background-color: #404bbf;
}

.benefits-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits .container {
    display: flex;
    height: 344px;
}

.benefits {
    padding: 120px 0;
}

.list-benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.benefits-items {
    width: calc((100% - 72px) / 4);
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-bottom: 8px;
}

.benefits-text {
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.team .container {
    height: 732px;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4FD;
    text-align: center;  
    padding: 120px 0;
}

.team-heading {
    font-weight: 700px;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-items {
    display: flex;
    gap: 24px;
}

.team-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-div {
    padding: 32px 0;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.team-parag {
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.portfolio {
    display: flex;
    background-color: #E7E9FC;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-heading {
    font-weight: 700px;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-parag {
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.footer {
    display: flex;
    background-color: #2E2F42;
    height: 321px;
    padding: 100px 0;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo:hover,
.footer-logo:focus {
    color: #404BBF;
}

span.studio-footer {
    color: #f4f4fd;
}